/*Edição do geral do corpo das páginas*/
html{
	
	width:  100%;
	height: 100%;
    

}
body{
	
    margin: auto;
	display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr 80px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
	width: 98%;
	height: 100%;
    
}
main{
	grid-area: main;
}
/*Inicio da edição de elementos gerais dentro do corpo da página*/
a{
    color: rgb(103, 103, 192);
    text-decoration: none; 
}
a:visited{

    color: rgb(103, 103, 192);

}
a:hover{

    background-color: #f3f3f3;

}
/*Fim das edições gerais dentro do corpo da página*/
/*Inicio da Edição do cabeçalho*/
header{
    
    background-color: rgb(255, 255, 255);
    height: 150px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
header nav {
    
    font-size: 24px;
    background-color: rgb(212, 61, 61);
    padding: 5px;
    width: auto;
    margin:auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
header input[type="submit"], input[type="button"] {

    background-color: #dedb0d;
    color: rgb(103, 103, 192);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}
header input[type="submit"]:hover, input[type="button"]:hover {

    background-color: #b8b50b;

}
.navFaixa a img {
 
    width: 75px;
    float: left;
    

}
.login{

    text-align: right;

}
.login ul{

    font-size: 16px;
    list-style-type: none;

}     
.login li{

    display: inline-block;
    padding-left: 15px;

}
.navmap {

    list-style-type: none;

}
.navmap li{

    display: inline-block;

}
/*fim da Edição do cabeçalho*/
/*Inicio da edição geral de formularios das páginas de cadastro e edição de cadastros*/
form {

    max-width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;

}
form label,
form input {

    width: 100%;
    flex: 1 1 100%;
    margin-bottom: 10px;
    box-sizing: border-box;

}
form label {

    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    display: block;

}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="file"],
[type="time"],
[type="number"],
[type="date"], form textarea {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
}
form select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
}
form .cadastrar {

    background-color: #dedb0d;
    color: rgb(103, 103, 192);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form .cadastrar:hover {

    background-color: #b8b50b;

}
form .excluir {

    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;

}
form .excluir:hover{

    background-color: rgb(212, 61, 61);

}
.campos, select{
    padding: 12px 20px;
    width: 100%;
}
.image-preview{
    
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    display: flex;
}
.textCard button[type="button"]{

    background-color: #dedb0d;
    color: rgb(103, 103, 192);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.textCard button[type="button"]:hover {

    background-color: #b8b50b;

}
.crop-button{
    padding: 12px 20px;
    width: 100%;
}
.carregarImg{
    width: 100%;
}
/*Pagina de Chamados*/

.chamado-container{
    
    text-align: center;
    width: 80%;
    margin: 20px;
}
.img-suporte{

    margin: auto;
    
    width: 200px;

}
.img-suporte img{
    width: 150px;
}
/*Pagina de Chamados*/

.prot1 {

    margin: auto;
    max-width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px;

}

.prot1 label {

    box-sizing: border-box;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    display: block;

}
.prot1 input[type="text"],
.prot1 input[type="email"],
.prot1 input[type="tel"],
.prot1 input[type="password"],
[type="time"],
[type="number"],
[type="date"] {
    
    width:  90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    border-color: #b8b50b;

}
.prot1 textarea{
    width:  90%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    border-color: #b8b50b;
}
.prot1 input[type="file"]{
    width:  40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    border-color: #b8b50b;
}
.prot1 select{
    width:  90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    border-color: #b8b50b;
}
.prot1 input[type="submit"] {

    background-color: #dedb0d;
    color: rgb(103, 103, 192);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    flex: 1 1 100%;
    margin-bottom: 10px;
}

.prot1 input[type="submit"]:hover {

    background-color: #b8b50b;

}
#prot2 button {

    background-color: #dedb0d;
    color: rgb(103, 103, 192);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    flex: 1 1 100%;
    margin-bottom: 10px;
}

#button:hover {

    background-color: #b8b50b;

}
.chamado-container h2 {

    color: rgb(38, 2, 50);

}
.print-tela{
    height: 256px;
}
.print-tela input[type='file']{
    width: 90%;
}
.f-container-p{
   
    margin: auto;
    width: 90%;
    height: 150px;
    overflow: auto;

}
.v-container{
   
    text-align: center;
    margin: auto;
    width: 90%;
    margin-bottom: 10px;

}
.v-button {

    margin-top: 10px;
    background-color: #dedb0d;
    color: rgb(103, 103, 192);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    flex: 1 1 100%;
    margin-bottom: 10px;
}

.v-button :hover {

    background-color: #b8b50b;

}
/* Fim Pagina de Chamados*/
/*Edição das paginas de cadastro de excursão e edição de excursão*/
.form-container{  
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.form-container input, textarea{
    
    width: 100%;
    
}
.form-container div{
    
    margin: 5px 10px;
    width: 45%;
    border-radius: 5px;
    text-align: center;

}
.cardForm-img img {

    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;

}
/*Fim da edição geral de formulários*/
/*Inicio da edição de itens dentro do corpo da página*/
.textCard{
    
    background-color: rgb(212, 61, 61);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 12px auto;
    border-radius: 5px;
    width: 50%;
    display: block;

}
.card {

    width: 100%;
    background-color: rgb(203, 203, 221);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    text-align: center;

}
.card p, h2{
    padding: 10px;
}
.card img{

    padding: 10px;
    width: 50%;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.forgot-password {
    display: block;
    margin-top: 20px;
    text-align: center;
}
/*Fim das edições dentro do corpo da página*/
/*Rodapé*/
/*Rodapé*/
footer {
    
	position: relative;
    background-color: rgb(212, 61, 61);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	grid-area: footer;

}
footer h3{ 

    font-size: 20px;
    text-align: center;
    line-height: 0.2;
	
}
footer h4{
    font-size: 15px;
    text-align: center;
    line-height: 0;
}